<!-- include jestures -->
<script type="text/javascript">
	<%= provide_jesture :arrow_keys %>
</script>
<%= provide_jesture_tag :unicorn_time %>


<!-- legend -->
<div class="definitions">
	<div class="header">
		Key Sequences
	</div>
	<div class="combos">
		up, up, down, down, left, right, left, right, b, a, enter<br/>
		left, left, left<br/>
		up, up, up<br/>
		right, right, right<br/>
		down, down, down
	</div>
</div>